{% extends "base.html" %} 
{%block content%}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us....</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to my Ecom</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br></br>
                        <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec ornare felis. Aenean id enim id massa egestas congue. Nulla facilisi. Praesent eget facilisis metus. Vestibulum non rhoncus dui, ut convallis ligula. Fusce dictum dictum massa eget vestibulum. In eu sapien ut nisl tempus mattis eget nec felis. Vivamus congue enim non turpis ultricies lobortis dapibus interdum felis. Suspendisse potenti. Nullam rutrum mi quis semper commodo. Ut et tellus nulla. Quisque tempor lobortis ipsum, sed dignissim lectus vulputate id. Nullam a porttitor dui, a hendrerit libero. Duis convallis, tellus quis convallis vestibulum, sem diam varius eros, a tempor nisi augue non est.
                        <br></br>
Proin sollicitudin maximus posuere. Sed posuere bibendum magna nec molestie. Donec porta placerat ornare. Vestibulum fringilla vestibulum finibus. Quisque augue ex, vulputate a neque id, tincidunt laoreet diam. In hac habitasse platea dictumst. Maecenas et velit congue, fermentum felis id, facilisis ligula. Pellentesque laoreet sem eu metus porta, quis finibus est posuere. Cras condimentum arcu est, id imperdiet eros rutrum id. Vivamus a iaculis sapien. Curabitur nec odio id augue dignissim euismod. Pellentesque volutpat lectus ut tellus porta rutrum.
<br></br>
Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst. Sed nec libero at lacus pellentesque commodo. Cras tortor sapien, pellentesque aliquam viverra eget, dictum a diam. Etiam tincidunt lacus vitae faucibus rutrum. Nunc erat mi, aliquet eget aliquet nec, lacinia a est. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec quis cursus nibh. Ut malesuada dui volutpat ipsum efficitur malesuada. In tellus mauris, aliquam eget velit non, vulputate laoreet nisi. Donec leo est, ullamcorper quis vestibulum at, semper eget neque.
<br></br>
Ut condimentum, ligula ac venenatis mattis, felis orci iaculis sem, ut ultricies arcu lorem quis orci. Aliquam consequat ex ante, iaculis dictum odio finibus bibendum. Phasellus fermentum nulla ex, vel tincidunt augue ornare ac. Vestibulum sed sem urna. Sed finibus libero feugiat, sodales tortor at, molestie quam. Donec suscipit mauris vel porttitor porttitor. Aliquam eget est sed tellus tristique tincidunt non sed libero. Fusce cursus et odio ut ullamcorper. Donec gravida dui non ullamcorper euismod. Proin at ex tincidunt, pretium justo quis, malesuada nisl. Sed pretium tincidunt imperdiet.
<br></br>
Nam magna mi, viverra interdum quam ac, finibus pretium ante. In hac habitasse platea dictumst. Donec commodo, erat sed vulputate vestibulum, risus lectus vehicula justo, vitae luctus neque augue eget neque. Donec odio lacus, volutpat mollis scelerisque non, pellentesque id enim. Proin risus sem, ullamcorper a urna a, consequat viverra purus. Phasellus in felis ut neque aliquam auctor non et magna. Quisque ut gravida felis. Vivamus condimentum mauris id magna varius rhoncus at at lectus. Etiam sed eros facilisis, bibendum felis id, venenatis tellus. Fusce id iaculis nisi, ut sagittis velit. Sed lobortis consectetur lorem, id gravida metus bibendum dignissim. Donec id odio molestie, imperdiet sem ut, mattis lacus.

                        </p>
                        <br></br>
                    </div>
                </center>
            </div>
        </div>

{%endblock%}